# LaTeX intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf

others

# Python
__pycache__/

.vscode/

results/
data

code/casegnn/CaseGNN-main/ik_pipeline/output
code/casegnn/CaseGNN-main/Information_extraction/stanford-openie/**/*